/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: auto;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--card-text-fw);
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bg-image);
}

.header {
  font-family: var(--accent-font), sans-serif;
  display: flex;
  flex-direction: column;
  block-size: clamp(20.438rem, 17.481rem + 12.62vw, 23rem);
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-block: 100px;
  border: var(--border);
  gap: 20px;
}

.container {
  inline-size: var(--block-width);
  background-color: var(--bg-color);
}

.header__title {
  font-size: clamp(3.063rem, 1.909rem + 4.92vw, 4.063rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.226rem + 2.77vw, 1.438rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 50px;
}

.card {
  border: var(--border);
}

.card__title {
  font-variation-settings: "wght" var(--card-title-fw);
  padding: 4px 10px;
  font-size: 18px;
}

.card__image-container {
  position: relative;
  display: block;
  width: 100%;
  border-top: var(--border);
  border-bottom: var(--border);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-grayscale {
  filter: grayscale(75%);
}

.filter-saturate {
  filter: saturate(500%);
}

.filter-blur {
  filter: blur(1.5px);
}

.filter-hue-rotate {
  filter: hue-rotate(70deg);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(75%);
}

.filter-mix {
  filter: contrast(200%) saturate(200%) hue-rotate(20deg);
}

.card__image {
  display: block;
  width: 100%;
  object-fit: contain;
  z-index: 1;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  color: #000;
  font-size: 14px;
  opacity: 0.5;
  line-height: 100%;
  text-transform: uppercase;
  font-family: var(--accent-font);
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color),
    1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
}

@supports (-webkit-text-stroke: 1px var(--text-shadow-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-color);
  }
}

.card__text {
  display: grid;
  padding: 25px 25px 0 25px;
  line-height: 21px;
  font-size: 18px;
  gap: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
  padding: 25px;
}

.button {
  background-color: var(--bg-color);
  border: var(--border);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.button::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.card__icon-button {
  block-size: 38px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  box-shadow: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.card__like-button {
  justify-self: end;
  inline-size: 130px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: #fff;
}

.button__save-block {
  display: flex;
  justify-content: center;
  inline-size: auto;
  margin-block: 52px 100px;
}

.button__save {
  inline-size: clamp(306px, 272.54px + 8.92vw, 335px);
  display: flex;
  grid-template-columns: min-content 1fr;
  padding: 17px 20px;
  text-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
}

.button__save svg {
  width: 21px;
  mix-blend-mode: difference;
}

.modal {
  justify-self: center;
  align-self: center;
}

.modal svg {
  width: 39px;
}

dialog {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 20px;
  border-width: 1px;
  transition: opacity 0.3s ease-in-out;
  inline-size: clamp(21.313rem, 20.447rem + 3.69vw, 22.063rem);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 30px 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-info {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
}

.close {
  text-transform: uppercase;
  padding: 9px;
  text-align: center;
  inline-size: 100%;
}

@media (width <= 375px) {
  .header {
    margin-block: 100px 102px;
  }

  .button__save {
    display: flex;
    flex-direction: column;
  }

  .button__save svg {
    inline-size: 28px;
    block-size: 28px;
  }
}
